* {padding: 0px;
   margin: 0px;}

html{background-image: url('textured-background.jpg');
     }

header{font-family: 'Bungee Shade', cursive; 
		text-align: center;
		color: red;
		margin-bottom: 90px;
		background: gold;}

body {color: gold;}

h1{ font-size: 60px;
	padding: 30px 0px 30px 0px;}

.navigation li{ list-style-type: none; 
					 display: inline;
					 margin: 10px 35px 10px 35px;}
.navigation li a{ color: black;
						padding: 5px;}


/* ==================================
	Mobile Styles:  0 to 480 pixels
	==================================
*/
@media only screen and (max-width: 480px) { 

html { padding: 0px;
		 margin: 0px;
		 background-size: 100%;}

h1{ font-size: 30px; 
	 padding: 0px;}

.navigation li a{overflow: hidden;
					 display:block;
					 margin: 0px 10px 0px 10px;
					 border-style: groove;
					 border-color: royalblue;
					 font-size: 12px;} 
}
/* ==================================
   Tablet  Styles:  481px and greater
   ==================================
*/
@media only screen and (min-width: 481px) {  

html{ width: 100%;
	   height: 100%; }

h1{ font-size: 45px; }

.navigation li{ list-style-type: none; 
					 display: inline;
					 margin: 0px 20px 0px 20px;} }

/* ==================================
   Desktops Styles:  796px and greater
   ==================================
*/
@media only screen and (min-width: 796px) 
{
h1{ font-size: 60px;
	padding: 30px 0px 30px 0px;}

.navigation li{ margin: 0px 35px 0px 35px;} }

