body{text-align: center;}

h3{text-align: center;
   font-size:30px;
   margin: 60px;
   border-style: groove; 
   border-color: royalblue;}

th, td {padding: 10px 30px 1px 30px;}

table {margin-left: auto; 
       margin-right: auto;}

td > img { width: 250px;
           height:200px ; }

/* ==================================
   Mobile Styles:  0 to 480 pixels
   ==================================
*/
@media only screen and (max-width: 480px) { 

th{display: none;}
td { display: block;} 
}
   

/* ==================================
   Tablet Styles:  481px and greater
   ==================================
*/
@media only screen and (min-width: 481px) {  }

/* ==================================
   Desktops Styles:  796px and greater
   ==================================
*/
@media only screen and (min-width: 796px) {  }
 

